ul.drinkList {
    padding: 0 0 0 .5em;
}

.drinkContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.nameRatingsContainer,
.nameRatingsContainer ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.nameRatingsContainer {
    height: 4.4em;
    margin: 0 0 .25em 0;
}
.nameRatingsContainer h2 {
    margin: 0 .125em 0 0;
}
.nameRatingsContainer ul {
    padding: 0 0 0 .5em;
}
.descriptionContainer {
    display: flex;
    flex-direction: row;
}