.st0{fill:#290607;}
	.st1{fill:#D7D7D7;}
	.st2{fill:#3A2117;}
	.st3{fill:#2E2627;}
	.st4{fill:#240A09;}
	.st5{fill:#BFBEBE;}
	.st6{fill:#CACACA;}
	.st7{fill:#676767;}
	.st8{fill:#928D88;}
	.st9{fill:#B1B2B0;}
	.st10{fill:#2D090C;}
	.st11{fill:#5A4E46;}
	.st12{fill:#312219;}
	.st13{fill:#B7B7B7;}
	.st14{fill:#3F2518;}
	.st15{fill:#C3C3C3;}
	.st16{fill:#BEBEBE;}
	.st17{fill:#2A1B15;}
	.st18{fill:#877F7E;}
	.st19{fill:#BFC0BE;}
	.st20{fill:#ABAAAB;}
	.st21{fill:#A3A49F;}
	.st22{fill:#B0AEAB;}
	.st23{fill:#B8B8B8;}
	.st24{fill:#B3B3B3;}
	.st25{fill:#605F60;}
	.st26{fill:#BABABA;}
	.st27{fill:#A3A09D;}
	.st28{fill:#5B5B5B;}
	.st29{fill:#341F22;}
	.st30{fill:#A99B9C;}
	.st31{fill:#AFAFAF;}
	.st32{fill:#654F47;}
	.st33{fill:#989994;}
	.st34{fill:#959595;}
	.st35{fill:#A5A5A5;}
	.st36{fill:#FDFDFD;}
	.st37{fill:#2F2A2C;}
	.st38{fill:#685B57;}
	.st39{fill:#625955;}
	.st40{fill:#563D34;}
	.st41{fill:#7E7873;}
	.st42{fill:#615753;}
	.st43{fill:#2B1914;}
	.st44{fill:#898484;}
	.st45{fill:#51413C;}
	.st46{fill:#7E7F7A;}
	.st47{fill:#817676;}
	.st48{fill:#442C22;}
	.st49{fill:#575757;}
	.st50{fill:#737373;}
	.st51{fill:#6C6C6C;}
	.st52{fill:#5F5F5F;}
	.st53{fill:#320603;}
	.st54{fill:#2E0E09;}
	.st55{fill:#753732;}
	.st56{fill:#370804;}
	.st57{fill:#585353;}
	.st58{fill:#565656;}
	.st59{fill:#432719;}
	.st60{fill:#462819;}
	.st61{fill:#302A2C;}
	.st62{fill:#655A59;}
	.st63{fill:#2F0A0B;}
	.st64{fill:#2C090B;}
	.st65{fill:#340202;}
	.st66{fill:#2F0201;}
	.st67{fill:#280809;}
	.st68{fill:#2C0707;}
	.st69{fill:#FCFDFA;}
	.st70{fill:#D2D1CF;}
	.st71{fill:#626262;}
	.st72{fill:#585858;}
	.st73{fill:#504F4F;}
	.st74{fill:#5C4F4A;}
	.st75{fill:#595858;}
	.st76{fill:#832F25;}
	.st77{fill:#665C57;}
	.st78{fill:#AEABA9;}
	.st79{fill:#360102;}
	.st80{fill:#310100;}
	.st81{fill:#452A1B;}
	.st82{fill:#6A5B56;}
	.st83{fill:#432819;}
	.st84{fill:#3C2213;}
	.st85{fill:#382722;}
	.st86{fill:#F7F7F7;}
	.st87{fill:#E4E4E4;}
	.st88{fill:#A3A3A3;}
	.st89{fill:#53413A;}
	.st90{fill:#EFEEEE;}
	.st91{fill:#39251D;}
	.st92{fill:#9B9593;}
	.st93{fill:#78706C;}
	.st94{fill:#6C615F;}
	.st95{fill:#E4E1DF;}
	.st96{fill:#E5E5E5;}
	.st97{fill:#EBEBEB;}
	.st98{fill:#D6D6D6;}
	.st99{fill:#CDCDCD;}
	.st100{fill:#B4B6B4;}
	.st101{fill:#655557;}
	.st102{fill:#777777;}
	.st103{fill:#513932;}
	.st104{fill:#AAA4A0;}
	.st105{fill:#F9F9F9;}
	.st106{fill:#C1BFBF;}
	.st107{fill:#70564B;}
	.st108{fill:#AFABA9;}
	.st109{fill:#A29493;}
	.st110{fill:#F0F0F0;}
	.st111{fill:#7B7B7B;}
	.st112{fill:#7F7878;}
	.st113{fill:#432E26;}
	.st114{fill:#47342F;}
	.st115{fill:#6A6A6A;}
	.st116{fill:#5A5A5A;}
	.st117{fill:#646464;}
	.st118{fill:#595A5A;}
	.st119{fill:#390F0A;}
	.st120{fill:#390A06;}
	.st121{fill:#535353;}
	.st122{fill:#97261B;}
	.st123{fill:#7F2F19;}
	.st124{fill:#833A2D;}
	.st125{fill:#352F30;}
	.st126{fill:#322D2E;}
	.st127{fill:#462A1B;}
	.st128{fill:#625451;}
	.st129{fill:#3C0501;}
	.st130{fill:#380A06;}
	.st131{fill:#403333;}
	.st132{fill:#3F0A06;}
	.st133{fill:#3A292A;}
	.st134{fill:#370909;}
	.st135{fill:#322C2E;}
	.st136{fill:#8A2B18;}
	.st137{fill:#5C5959;}
	.st138{fill:#4E5957;}
	.st139{fill:#511007;}
	.st140{fill:#5E170C;}
	.st141{fill:#410D0B;}
	.st142{fill:#5F5149;}
	.st143{fill:#B7B2AF;}
	.st144{fill:#5F5F5D;}
	.st145{fill:#5D5D5D;}
	.st146{fill:#7C7C7C;}
	.st147{fill:#7E7E7E;}
	.st148{fill:#858484;}
	.st149{fill:#727272;}
	.st150{fill:#606060;}
	.st151{fill:#767676;}
	.st152{fill:#666666;}
	.st153{fill:#696969;}
	.st154{fill:#636363;}
	.st155{fill:#848484;}
	.st156{fill:#707070;}
	.st157{fill:#3C0703;}
	.st158{fill:#513939;}
	.st159{fill:#492B1C;}
	.st160{fill:#4F3022;}
	.st161{fill:#383032;}
	.st162{fill:#766A66;}
	.st163{fill:#4A2C1B;}
	.st164{fill:#EFEFEF;}
	.st165{fill:#898989;}
	.st166{fill:#DADADB;}
	.st167{fill:#7F7F7F;}
	.st168{fill:#5B3B28;}
	.st169{fill:#DCDCDC;}
	.st170{fill:#514F50;}
	.st171{fill:#463A3C;}
	.st172{fill:#8A8A8A;}
	.st173{fill:#979798;}
	.st174{fill:#787879;}
	.st175{fill:#C4C4C4;}
	.st176{fill:#9E9E9E;}
	.st177{fill:#B4B4B4;}
	.st178{fill:#C6C9C8;}
	.st179{fill:#CFCCCD;}
	.st180{fill:#756E70;}
	.st181{fill:#61595C;}
	.st182{fill:#969696;}
	.st183{fill:#60473B;}
	.st184{fill:#554947;}
	.st185{fill:#544037;}
	.st186{fill:#543320;}
	.st187{fill:#6F6F6F;}
	.st188{fill:#793F33;}
	.st189{fill:#48120B;}
	.st190{fill:#4E180E;}
	.st191{fill:#40180A;}
	.st192{fill:#56160B;}
	.st193{fill:#FDF3C1;}
	.st194{fill:#9B2821;}
	.st195{fill:#722D15;}
	.st196{fill:#6E3121;}
	.st197{fill:#753111;}
	.st198{fill:#F9F6C2;}
	.st199{fill:#9D3024;}
	.st200{fill:#8F2B1A;}
	.st201{fill:#86320F;}
	.st202{fill:#665A58;}
	.st203{fill:#3F3432;}
	.st204{fill:#756864;}
	.st205{fill:#3D3737;}
	.st206{fill:#463B3A;}
	.st207{fill:#4D3427;}
	.st208{fill:#430802;}
	.st209{fill:#430801;}
	.st210{fill:#460901;}
	.st211{fill:#ACACAC;}
	.st212{fill:#837D7E;}
	.st213{fill:#594F4F;}
	.st214{fill:#D7D8D7;}
	.st215{fill:#571103;}
	.st216{fill:#463C3E;}
	.st217{fill:#60200A;}
	.st218{fill:#461C13;}
	.st219{fill:#4A0D06;}
	.st220{fill:#FCF8CB;}
	.st221{fill:#6E1E0E;}
	.st222{fill:#77210B;}
	.st223{fill:#892809;}
	.st224{fill:#932D05;}
	.st225{fill:#9F2917;}
	.st226{fill:#692C11;}
	.st227{fill:#611E0A;}
	.st228{fill:#2F0B02;}
	.st229{fill:#5E3F22;}
	.st230{fill:#370300;}
	.st231{fill:#581409;}
	.st232{fill:#651A0D;}
	.st233{fill:#611508;}
	.st234{fill:#56331F;}
	.st235{fill:#6B6B69;}
	.st236{fill:#E2E2E2;}
	.st237{fill:#D8D8D8;}
	.st238{fill:#F2F2F2;}
	.st239{fill:#CBCBCB;}
	.st240{fill:#E3E3E3;}
	.st241{fill:#CCCCCC;}
	.st242{fill:#D5D5D5;}
	.st243{fill:#838383;}
	.st244{fill:#F6F6F6;}
	.st245{fill:#440E05;}
	.st246{fill:#938C8A;}
	.st247{fill:#551403;}
	.st248{fill:#3C0B0C;}
	.st249{fill:#49140A;}
	.st250{fill:#5F5252;}
	.st251{fill:#7A6E6E;}
	.st252{fill:#B2ACAA;}
	.st253{fill:#7E6666;}
	.st254{fill:#6F1D0A;}
	.st255{fill:#5C1707;}
	.st256{fill:#4F2F1C;}
	.st257{fill:#3F3636;}
	.st258{fill:#443B3D;}
	.st259{fill:#5A3823;}
	.st260{fill:#553421;}
	.st261{fill:#706A69;}
	.st262{fill:#706E6F;}
	.st263{fill:#BDBDBD;}
	.st264{fill:#C6C6C6;}
	.st265{fill:#B8B7B8;}
	.st266{fill:#CECECE;}
	.st267{fill:#A2A2A2;}
	.st268{fill:#A8A8A8;}
	.st269{fill:#753223;}
	.st270{fill:#A5A8A9;}
	.st271{fill:#BCBCBC;}
	.st272{fill:#B1B1B1;}
	.st273{fill:#B5B4B4;}
	.st274{fill:#C4C4C5;}
	.st275{fill:#C7C9C8;}
	.st276{fill:#B5B5B5;}
	.st277{fill:#4E2F1C;}
	.st278{fill:#5D3C28;}
	.st279{fill:#868686;}
	.st280{fill:#5D1B0D;}
	.st281{fill:#56190E;}
	.st282{fill:#651C0D;}
	.st283{fill:#65190A;}
	.st284{fill:#FEECBC;}
	.st285{fill:#FEEBB8;}
	.st286{fill:#7D2414;}
	.st287{fill:#FCF2B9;}
	.st288{fill:#FEEDC0;}
	.st289{fill:#F1ECC3;}
	.st290{fill:#F5E8BE;}
	.st291{fill:#8C8C8C;}
	.st292{fill:#8F2622;}
	.st293{fill:#752A20;}
	.st294{fill:#7E1206;}
	.st295{fill:#9C2F19;}
	.st296{fill:#FBF6C4;}
	.st297{fill:#514746;}
	.st298{fill:#887771;}
	.st299{fill:#4D0D01;}
	.st300{fill:#521002;}
	.st301{fill:#580F03;}
	.st302{fill:#C4C5C4;}
	.st303{fill:#E4E3E2;}
	.st304{fill:#CDCECE;}
	.st305{fill:#DDDDDD;}
	.st306{fill:#641A02;}
	.st307{fill:#772203;}
	.st308{fill:#661702;}
	.st309{fill:#F9F7F6;}
	.st310{fill:#8E3106;}
	.st311{fill:#731C06;}
	.st312{fill:#FEEEBE;}
	.st313{fill:#FEEBBA;}
	.st314{fill:#FCF6C7;}
	.st315{fill:#420D07;}
	.st316{fill:#5D0B0D;}
	.st317{fill:#FCF6C1;}
	.st318{fill:#791920;}
	.st319{fill:#FCFCBB;}
	.st320{fill:#48101D;}
	.st321{fill:#F6EEC7;}
	.st322{fill:#521512;}
	.st323{fill:#88181A;}
	.st324{fill:#6C1B0A;}
	.st325{fill:#81250C;}
	.st326{fill:#7C2107;}
	.st327{fill:#8E2C0B;}
	.st328{fill:#852607;}
	.st329{fill:#9D3507;}
	.st330{fill:#953009;}
	.st331{fill:#982511;}
	.st332{fill:#7B321A;}
	.st333{fill:#932F19;}
	.st334{fill:#8F1D0D;}
	.st335{fill:#F8F7F5;}
	.st336{fill:#F7ECE8;}
	.st337{fill:#87241C;}
	.st338{fill:#F5FEFD;}
	.st339{fill:#6C2421;}
	.st340{fill:#E7E7E7;}
	.st341{fill:#DDDEDD;}
	.st342{fill:#D2D2D2;}
	.st343{fill:#922311;}
	.st344{fill:#ECECEC;}
	.st345{fill:#F4F4F4;}
	.st346{fill:#E8E8E8;}
	.st347{fill:#DFDFDF;}
	.st348{fill:#D1D1D1;}
	.st349{fill:#C5C5C5;}
	.st350{fill:#C7C7C7;}
	.st351{fill:#C4D0CC;}
	.st352{fill:#D9D9D9;}
	.st353{fill:#D0E2D2;}
	.st354{fill:#D2D2D1;}
	.st355{fill:#4C1308;}
	.st356{fill:#461511;}
	.st357{fill:#6F6463;}
	.st358{fill:#B7B1AD;}
	.st359{fill:#B3AFB0;}
	.st360{fill:#877268;}
	.st361{fill:#7C7778;}
	.st362{fill:#571909;}
	.st363{fill:#631E0A;}
	.st364{fill:#691F03;}
	.st365{fill:#ECEFEE;}
	.st366{fill:#C3C9CB;}
	.st367{fill:#4B1F11;}
	.st368{fill:#D5DBDE;}
	.st369{fill:#77220B;}
	.st370{fill:#772007;}
	.st371{fill:#872604;}
	.st372{fill:#A62109;}
	.st373{fill:#802408;}
	.st374{fill:#983006;}
	.st375{fill:#B84605;}
	.st376{fill:#551D15;}
	.st377{fill:#AE4E18;}
	.st378{fill:#A74D1B;}
	.st379{fill:#812700;}
	.st380{fill:#513020;}
	.st381{fill:#4D3224;}
	.st382{fill:#EDE1DB;}
	.st383{fill:#C2C2C2;}
	.st384{fill:#C1C1C1;}
	.st385{fill:#AEAEAE;}
	.st386{fill:#B4B7B9;}
	.st387{fill:#AAAAAA;}
	.st388{fill:#A9A8A9;}
	.st389{fill:#B0B0B0;}
	.st390{fill:#ADADAD;}
	.st391{fill:#9C9C9C;}
	.st392{fill:#FEF1C1;}
	.st393{fill:#F9EFC6;}
	.st394{fill:#FDF1BF;}
	.st395{fill:#862113;}
	.st396{fill:#FEF3E1;}
	.st397{fill:#752B2A;}
	.st398{fill:#821315;}
	.st399{fill:#B9BDB9;}
	.st400{fill:#E3DBDB;}
	.st401{fill:#763410;}
	.st402{fill:#FBF8CF;}
	.st403{fill:#FCF2C6;}
	.st404{fill:#8E1B16;}
	.st405{fill:#440909;}
	.st406{fill:#710E0E;}
	.st407{fill:#F6F9CC;}
	.st408{fill:#641B0C;}
	.st409{fill:#FEEECB;}
	.st410{fill:#FEF1CF;}
	.st411{fill:#FEF4D5;}
	.st412{fill:#761A07;}
	.st413{fill:#652318;}
	.st414{fill:#551913;}
	.st415{fill:#4E150C;}
	.st416{fill:#7C2009;}
	.st417{fill:#6D1901;}
	.st418{fill:#EEEEEF;}
	.st419{fill:#712001;}
	.st420{fill:#822C02;}
	.st421{fill:#993B02;}
	.st422{fill:#904A1D;}
	.st423{fill:#AC4107;}
	.st424{fill:#A74604;}
	.st425{fill:#FEEBBD;}
	.st426{fill:#FDEEBF;}
	.st427{fill:#FBEEB6;}
	.st428{fill:#711007;}
	.st429{fill:#692020;}
	.st430{fill:#5A0F0F;}
	.st431{fill:#B34407;}
	.st432{fill:#CA5606;}
	.st433{fill:#C45911;}
	.st434{fill:#F0850C;}
	.st435{fill:#F79D15;}
	.st436{fill:#ED7E08;}
	.st437{fill:#F5FCCC;}
	.st438{fill:#A53A08;}
	.st439{fill:#FCF3CB;}
	.st440{fill:#BDC9CB;}
	.st441{fill:#A42722;}
	.st442{fill:#972B1A;}
	.st443{fill:#FBEDC4;}
	.st444{fill:#892413;}
	.st445{fill:#9B1E0C;}
	.st446{fill:#901A06;}
	.st447{fill:#9C1B0D;}
	.st448{fill:#3B231D;}
	.st449{fill:#5D350F;}
	.st450{fill:#8B2213;}
	.st451{fill:#881F16;}
	.st452{fill:#8B251B;}
	.st453{fill:#514136;}
	.st454{fill:#DAF3E6;}
	.st455{fill:#622019;}
	.st456{fill:#7C2416;}
	.st457{fill:#4D1D0F;}
	.st458{fill:#53291B;}
	.st459{fill:#842410;}
	.st460{fill:#501A08;}
	.st461{fill:#51150E;}
	.st462{fill:#E2E1E2;}
	.st463{fill:#CFCDCF;}
	.st464{fill:#BDBBBC;}
	.st465{fill:#5D1B11;}
	.st466{fill:#6F250C;}
	.st467{fill:#7F2A09;}
	.st468{fill:#693728;}
	.st469{fill:#8E2B07;}
	.st470{fill:#942A09;}
	.st471{fill:#AB3C05;}
	.st472{fill:#A03608;}
	.st473{fill:#B24101;}
	.st474{fill:#8B2B0C;}
	.st475{fill:#C55103;}
	.st476{fill:#BF4C02;}
	.st477{fill:#BA3D02;}
	.st478{fill:#5B1807;}
	.st479{fill:#4E1911;}
	.st480{fill:#782620;}
	.st481{fill:#CB5703;}
	.st482{fill:#DD6F07;}
	.st483{fill:#E96000;}
	.st484{fill:#EF7E08;}
	.st485{fill:#D46F11;}
	.st486{fill:#F7FAF7;}
	.st487{fill:#7D3319;}
	.st488{fill:#F4FDFE;}
	.st489{fill:#FEFCF3;}
	.st490{fill:#FAF1C6;}
	.st491{fill:#8A0E1A;}
	.st492{fill:#FEC32D;}
	.st493{fill:#F8C22F;}
	.st494{fill:#6A1504;}
	.st495{fill:#F9A15E;}
	.st496{fill:#FCAA1C;}
	.st497{fill:#F99914;}
	.st498{fill:#F68B0F;}
	.st499{fill:#CE5306;}
	.st500{fill:#DE5D06;}
	.st501{fill:#DF6A07;}
	.st502{fill:#FDB623;}
	.st503{fill:#7F1E04;}
	.st504{fill:#711606;}
	.st505{fill:#8B3115;}
	.st506{fill:#902C08;}
	.st507{fill:#8D380F;}
	.st508{fill:#A94502;}
	.st509{fill:#CD5004;}
	.st510{fill:#C85304;}
	.st511{fill:#A25126;}
	.st512{fill:#C05703;}
	.st513{fill:#B55104;}
	.st514{fill:#F2F7C9;}
	.st515{fill:#FEC530;}
	.st516{fill:#FDB825;}
	.st517{fill:#6B0D19;}
	.st518{fill:#FEBE2A;}
	.st519{fill:#C35005;}
	.st520{fill:#BC4A06;}
	.st521{fill:#AD3F06;}
	.st522{fill:#DD6906;}
	.st523{fill:#D25D05;}
	.st524{fill:#D56107;}
	.st525{fill:#CE5803;}
	.st526{fill:#E95600;}
	.st527{fill:#F9A418;}
	.st528{fill:#F49010;}
	.st529{fill:#F69612;}
	.st530{fill:#D96304;}
	.st531{fill:#FBAD1D;}
	.st532{fill:#E37105;}
	.st533{fill:#E97707;}
	.st534{fill:#B6490B;}
	.st535{fill:#FEEDCA;}
	.st536{fill:#78200F;}
	.st537{fill:#941E12;}
	.st538{fill:#AD4903;}
	.st539{fill:#A7540F;}
	.st540{fill:#B4530A;}
	.st541{fill:#A73E07;}
	.st542{fill:#A53904;}
	.st543{fill:#6C1805;}
	.st544{fill:#CF5B02;}
	.st545{fill:#EC6B10;}
	.st546{fill:#D46002;}
	.st547{fill:#DA6604;}
	.st548{fill:#E57305;}
	.st549{fill:#F3840A;}
	.st550{fill:#E97806;}
	.st551{fill:#F79210;}
	.st552{fill:#FEBF29;}
	.st553{fill:#FEC62F;}
	.st554{fill:#FDC528;}
	.st555{fill:#FDCF35;}
	.st556{fill:#FECB38;}
	.st557{fill:#FDD43F;}
	.st558{fill:#FEBA26;}
	.st559{fill:#FCB020;}
	.st560{fill:#FAA217;}
	.st561{fill:#FEC62A;}
	.st562{fill:#FDA618;}
	.st563{fill:#EE641D;}
	.st564{fill:#C15B08;}
	.st565{fill:#E46805;}
	.st566{fill:#D26803;}
	.st567{fill:#D96601;}
	.st568{fill:#CA6206;}
	.st569{fill:#FEC12E;}
	.st570{fill:#FEC834;}
	.st571{fill:#FEBB27;}
	.st572{fill:#FDB617;}
	.st573{fill:#FCB321;}
	.st574{fill:#B85D0A;}
	.st575{fill:#D77308;}
	.st576{fill:#B15D0A;}
	.st577{fill:#D86E0E;}
	.st578{fill:#DE6B02;}
	.st579{fill:#E16704;}
	.st580{fill:#FECA36;}
	.st581{fill:#FECC2D;}
	.st582{fill:#FED438;}
	.st583{fill:#FED03F;}
	.st584{fill:#FECD3B;}
	.st585{fill:#FECF3C;}
	.st586{fill:#FED342;}
	.st587{fill:#D26D0F;}
	.st588{fill:#DE7809;}
	.st589{fill:#F17F0E;}
	.st590{fill:#DF7208;}
	.st591{fill:#D9710A;}
	.st592{fill:#E8810C;}
	.st593{fill:#F08B0F;}
	.st594{fill:#E67B17;}
	.st595{fill:#F39119;}
	.st596{fill:#F59414;}
	.st597{fill:#FED33D;}
	.st598{fill:#E07910;}
	.st599{fill:#EE8413;}
	.st600{fill:#E78013;}
	.st601{fill:#F89516;}
	.st602{fill:#F6951D;}
	.st603{fill:#F8A017;}
	.st604{fill:#F7A21E;}
	.st605{fill:#F28D18;}
	.st606{fill:#FAA91E;}
	.st607{fill:#FAA81B;}
	.st608{fill:#FDAD25;}
	.st609{fill:#FBAE1F;}
	.st610{fill:#FDB328;}
	.st611{fill:url(#SVGID_1_);}
	.st612{fill:url(#SVGID_00000004548153449482789970000011240690255684519300_);}
	.st613{fill:#333333;}
	.st614{fill:none;stroke:#EB0000;stroke-miterlimit:10;}
	.st615{fill:url(#SVGID_00000152970096811335669350000008624046119743767444_);}
	.st616{fill:url(#SVGID_00000160894785953875244690000000414763179717947270_);}
	.st617{fill:#601919;}
	.st618{fill:url(#SVGID_00000040551034698316037250000003901014587625773196_);}
	.st619{fill:url(#SVGID_00000111173516681496470600000015302105530874949525_);}
	.st620{fill:#F25724;}
.white {
	fill: white;
}
.black {
	fill: black;
}	